.login_account-welcome{
    font-size: 4vw;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.25em black;
    color: #FCFCFC;
    display: flex;
    justify-content: center;
}

.login_opacity{
    text-align: center;
    background-color:rgba(255, 255, 255,0.6);
    width:100%;
    margin:40px auto;
    height: 30vw;
    border-color: rgba(255, 255, 255,0.6);
}

.login_input {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.login_title {
    margin-right: 5px;
    font-size: 2vw;
    text-shadow: 0.3em 0.3em 1em black;
    color: #272727;
}

/*

.login_account{
    margin-top: 3vw;
    height: 5vw;
    width: 100%;
}

.login_account-title{
    height: 4.2vw;
    margin-left: 35.5vw;
    float: left;
    text-align: left;
    font-size: 2vw;
    border: solid;
}
.login_account-input{
    border:solid;
    width: 40vw;
    height: 4.2vw;
    margin-left: 0.5vw;
    float: left;
    text-align: left;
} 

.login_password{
   width: 100%;
} 
.login_password-title{
    width: 10vw;
    height: 4.2vw;
    margin-left: 30vw;
    float: left;
    text-align: right;
    font-size: 2vw;
}
.login_password-input{
    width: 40vw;
    height: 4.2vw;
    margin-left: 0.5vw;
    float: left;
}
*/
.login_searchbox{
    width: 25vw;
    outline: none;
    /* padding: 14px 20px; */
    border: 2px solid gray;
    border-radius:25px;
    font-size: large; 
    text-align: left;
}

.login_forgetpass-button{
    font-size: 1vw;
    color: black;
    margin-top: 1vw;
}

.login_login-button{
    margin-top: 1%;
    height: 3.3vw;
    font-Size: 1.5vw;
}
.login_bottom-register{
    width: 100%;
    margin-top: 1%;
    text-align: center;
}
.login_bottom-register-button{
    width: 15vw;
    border: none;
    text-align: center;
    font-size: 1.2vw;
    color: 	#2894FF;
    background-color: transparent;
} 

.login_bottom-register-button:hover{
    font-weight: bold;
    color: #0080FF;
}