.recentgroups_button{
    border:solid;
    width: 100%;
    /* margin-left: 5vw; */
    /* height: 10vw; */
    text-align: left;
    font-size: 1.2vw;
    border-radius: 0.7vw;
    /* margin-top: 0.7vw; */
}
