.ant-checkbox-inner{
    border-width: 0.15vw;
    width: 1.8vw;
    height: 1.8vw;
}
.register_searchbox{
    width: 23vw;
    outline: none;
    /* padding: 14px 20px; */
    border: 2px solid gray;
    border-radius:25px;
    /* font-size: large;  */
    text-align: left;
}

.register {
    font-size: 3vw;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.25em black;
    color: #FCFCFC;
    display: flex;
    justify-content: center;
}

.register_input {
    height: 10%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.register_title {
    margin-right: 5px;
    font-size: 1.5vw;
    text-shadow: 0.3em 0.3em 1.3em black;
    color: #272727;
}

/* .register_account{
    margin-top: 2vw;
    height: 5vw;
    width: 100%;
}

.register_account-title{
    height: 4.2vw;
    margin-left: 35.5vw;
    float: left;
    font-size: 2vw;
}
.register_account-input{
    width: 40vw;
    height: 4.2vw;
    margin-left: 0.5vw;
    float: left;
}
.register_mid{
    margin-top: 5vw;
    height: 5vw;
    width: 100%;
}

.register_mid-title{
    height: 4.2vw;
    margin-left: 35.5vw;
    float: left;
    text-align: left;
    font-size: 2vw;
}
.register_mid-input{
    text-align: left;
    width: 40vw;
    height: 4.2vw;
    margin-left: 0.5vw;
    float: left;
    background-color:transparent;
}

.register_pass{
    margin-top: 0.2vw;
    height: 5vw;
    width: 100%;
}

.register_pass-title{
    height: 4.2vw;
    margin-left: 27.4vw;
    float: left;
    text-align: left;
    font-size: 2vw;
}
.register_pass-input{
    width: 40vw;
    height: 4.2vw;
    margin-left: 0.5vw;
    float: left;
    text-align: left;
    background-color: transparent;
} */
.register_check{
    margin-top: 0.2vw;
    height: 5vw;
    width: 100%;
}

.register_check-checkbox{
    width: 3vw;
    height: 3vw;
    margin-left: 38vw;
    margin-top: 0.9vw;
    float: left;
    /* border: solid; */
}

.register_check-txt{
    height: 4.2vw;
    margin-top: 0.5vw;
    float: left;
    text-align: left;
    font-size: 2vw;
    text-decoration: underline;
    color: rgb(39, 39, 161);
}

.register_button-button{
    height: 3.3vw;
    font-Size: 1.5vw;
    margin-top: 1%;
}
.registersuccess_txt{
    font-size: 2vw;
    margin-left: 35.5vw;
    margin-top: 4vw;
}
.registersuccess_midtxt{
    font-size: 2vw;
    text-align: center;
    margin-top: 0.1vw;
}
.registersuccess_nametxt{
    font-size: 2vw;
    text-align: center;
    margin-top: 1vw;
    margin-left: 35vw;
}

.registersuccess_login{
    width: 100%;
    margin-top: 7vw;
    text-align: center;
}
.registersuccess_login-button{
    height: 3.3vw;
    font-Size: 1.5vw;
}
.register_opacity{
    text-align: center;
    background-color:rgba(255, 255, 255,0.6);
    width:100%;
    margin:40px auto;
    height: 30vw;
    border-color: rgba(255, 255, 255,0.6);
}

.text {
    font-size: 20px;
    color: #3C3C3C;
    padding-top: 5%;
}